@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ChefModel

@{
    ViewData["Title"] = "Chef Details";
}

<h1>Chef Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specialty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu)
        </dt>
        <dd class="col-sm-10">
            @if (Model != null && Model.Menu != null && Model.Menu.Any())
            {
                <ul>
                    @foreach (var Dish in Model.Menu)
                    {
                        <li>@Dish.Name - @Dish.Description</li>
                    }
                </ul>
            }
            else
            {
                <p>No menu items available.</p>
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Availability)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilePictureUrl)
        </dt>
        <dd class="col-sm-10">
            @if (Model != null && !string.IsNullOrEmpty(Model.ProfilePictureUrl))
            {
                <img src="@Model.ProfilePictureUrl" alt="Chef Profile Picture" style="max-width: 200px; max-height: 200px;" />
            }
            else
            {
                <p>No profile picture available.</p>
            }
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
